@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lavishly+Yours&display=swap');
@import "tailwindcss";

@theme {
    --font-lavishly: "Lavishly Yours", cursive;
    --font-loto: "Lato", sans-serif;
    --color-mustard: #EFB969;
    --color-midnight: #001A3C;
    --color-midnight-blue: #001A3CCC;
    --color-sea: #06476D;
}